<style>
    
.box {
   position: relative;
   top: 0;
   opacity: 1;
   float: left;
   padding: 60px 50px 40px 50px;
   width: 100%;
   background: #fff;
   border-radius: 10px;
   transform: scale(1);
   -webkit-transform: scale(1);
   -ms-transform: scale(1);
   z-index: 5;
}

.box.back {
   transform: scale(.95);
   -webkit-transform: scale(.95);
   -ms-transform: scale(.95);
   top: -20px;
   opacity: .8;
   z-index: -1;
}

.box:before {
   content: "";
   width: 100%;
   height: 30px;
   border-radius: 10px;
   position: absolute;
   top: -10px;
   background: rgba(255, 255, 255, .6);
   left: 0;
   transform: scale(.95);
   -webkit-transform: scale(.95);
   -ms-transform: scale(.95);
   z-index: -1;
}

.overbox .title {
   color: #fff;
}

.overbox .title:before {
   background: #fff;
}

.title {
   width: 100%;
   float: left;
   line-height: 46px;
   font-size: 34px;
   font-weight: 700;
   letter-spacing: 2px;
   color: #ED2553;
   position: relative;
}

.title:before {
   content: "";
   width: 5px;
   height: 100%;
   position: absolute;
   top: 0;
   left: -50px;
   background: #ED2553;
}

.input,
.input label,
.input input,
.input .spin,
.button,
.button button .button.login button i.fa,
.material-button .shape:before,
.material-button .shape:after,
.button.login button {
   transition: 300ms cubic-bezier(.4, 0, .2, 1);
   -webkit-transition: 300ms cubic-bezier(.4, 0, .2, 1);
   -ms-transition: 300ms cubic-bezier(.4, 0, .2, 1);
}

.material-button,
.alt-2,
.material-button .shape,
.alt-2 .shape,
.box {
   transition: 400ms cubic-bezier(.4, 0, .2, 1);
   -webkit-transition: 400ms cubic-bezier(.4, 0, .2, 1);
   -ms-transition: 400ms cubic-bezier(.4, 0, .2, 1);
}

.input,
.input label,
.input input,
.input .spin,
.button,
.button button {
   width: 100%;
   float: left;
}

.input,
.button {
   margin-top: 30px;
   height: 70px;
}

.input,
.input input,
.button,
.button button {
   position: relative;
}

.input input {
   height: 60px;
   top: 10px;
   border: none;
   background: transparent;
}

.input input,
.input label,
.button button {
   font-family: 'Roboto', sans-serif;
   font-size: 24px;
   color: rgba(0, 0, 0, 0.8);
   font-weight: 300;
}

.input:before,
.input .spin {
   width: 100%;
   height: 1px;
   position: absolute;
   bottom: 0;
   left: 0;
}

.input:before {
   content: "";
   background: rgba(0, 0, 0, 0.1);
   z-index: 3;
}

.input .spin {
   background: #ED2553;
   z-index: 4;
   width: 0;
}

.overbox .input .spin {
   background: rgba(255, 255, 255, 1);
}

.overbox .input:before {
   background: rgba(255, 255, 255, 0.5);
}

.input label {
   position: absolute;
   top: 10px;
   left: 0;
   z-index: 2;
   cursor: pointer;
   line-height: 60px;
}


.container {
  background-color: white;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

table, th, td {
    border-collapse: collapse;
    text-align: left;
}
th, td {
    padding: 15px;
}

th {
  border-top: 1px solid rgba(0,0,0,0.1);
  border-bottom: 1px solid rgba(0,0,0,0.1);
}

td {
  border:none;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}


</style>



<div id="motorcycling-list">
    <h2>Motorcycling</h2>
    <div id="apikey">
        <input type="text" name="" ng-model="apikeyField" placeholder="davbotcab"/>
        <button class="btn btn-success" ng-click="sendapi()">Access</button>
    </div>
    <div id="filter">
        <input type="text" name="" ng-model="yearfrom"/>
        <input type="text" name="" ng-model="yearto"/>
        <button class="btn btn-success" ng-click="filter(yearfrom,yearto,limit,offset)">Buscar</button>
    </div>
    <div id="loadInitialData">
        <button class="btn btn-success" ng-click="loadInitialData()">Load Initial Data</button>
    </div>
    <table class="container">
        <thead>
            <tr>
              <th><h1>Country</h1></th>
              <th><h1>Year</h1></th>
              <th><h1>Pilot</h1></th>
              <th><h1>Team</h1></th>
              <th><h1>Actions</h1></th>
            </tr>
          </thead>
    <tbody>
        <tr>
            <td><input class="form-control" ng-model="newMotorcycling.country"/></td>
            <td><input class="form-control" ng-model="newMotorcycling.year"/></td>
            <td><input class="form-control" ng-model="newMotorcycling.pilot"/></td>
            <td><input class="form-control" ng-model="newMotorcycling.team"/></td>
            <td><button class="button btn-primary" ng-click="addMotorcycling()">Add</button>
            <button class="btn btn-danger" ng-click="deleteAllMotorcyclings()">Delete all</button>
                 
        </tr>
        <tr ng-repeat = "motorcycling in motorcyclings">
            <td><a href="#!/motorcyclings/updateMotorcycling/{{motorcycling.country}}/{{motorcycling.year}}">{{motorcycling.country}}</td>
            <td>{{motorcycling.year}}</td>
            <td>{{motorcycling.pilot}}</td>
            <td>{{motorcycling.team}}</td>
            <td><button class="btn btn-danger" ng-click="deleteMotorcycling(motorcycling.country, motorcycling.year)">Delete</button></td>
        </tr>
        
    </tbody>
    </table>
</div>




<!-- PAGINACIÓN -->
<div id="paginate">
    <ul ng-if="pages.length" class="pagination">
        <li ng-class="{disabled:currentPage == 1}">
            <a ng-click="setPage(currentPage - 1)">Previous</a>
        </li>
        <li ng-repeat="page in pages" ng-class="{active:page == currentPage}">
            <a ng-click="setPage(page)"><span>{{page}}</span></a>
        </li>                
        <li ng-class="{disabled:currentPage == totalPages}">
            <a ng-click="setPage(currentPage + 1)">Next</a>
        </li>
   </ul>
</div>

<!-- <div id="pagination" class="row">
      <button class="btn btn-primary"ng-click="pageBack()"><<</button>
      <span>{{currentPage}} de {{numberOfPages()}}</span>
      <button class="btn btn-primary" ng-click="pageForward()">>></button>
</div>

-->

<div class="wrapper">
  <label>
    <input type="text" required="required"/>
    <span>Username</span>
  </label>
  <label>
    <input type="password" required="required"/>
    <span>Password</span>
  </label>
</div>