<div id="centeredtext">
            <h2 id="titleBeer">Beers</h2>
            <label for="api">apikey</label> <input id="api" type="password" class="from-control" ng-model="apikeyfield"/> <button class="btn btn-success" ng-click="sendapi()"><span class="glyphicon glyphicon-ok"></span> Access</button>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Search</th>
                    <td></td>
                    <th>Paginate</th>
                    <td></td>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td><label>YearFrom: <input class="from-control" ng-model="YearFrom"/></label></td>
                    <td><label>YearTo: <input class="from-control" ng-model="YearTo"/></label></td>
                    <td><label>Limit: <input class="from-control" ng-model="Limit"/></label></td>
                    <td><label>Offset: <input class="from-control" ng-model="Offset"/></label></td>
                    <td><button id="buttonFilter" class="btn btn-info disabled" ng-click="filter(YearFrom,YearTo,Limit,Offset)"><span class="glyphicon glyphicon-search"></span> Filter</button>
                        <button id="buttonClear" class="btn btn-success disabled" ng-click="clearSearch()"><span class="glyphicon glyphicon-remove"></span> Clear</button></td>
                </tr>
            </tbody>
        </table>

        <button id="buttonLoad" class="btn btn-info disabled" ng-click="load()"><span class="glyphicon glyphicon-import"></span>Load Initial Data</button>

        <button id="buttonAddModal" class="btn btn-primary disabled" data-toggle="modal" data-target="#addModal"><span class="glyphicon glyphicon-plus-sign"></span> Add</button>

        <button id="buttonDeleteAll" class="btn btn-danger disabled" ng-click="deleteBeers()"><span class="glyphicon glyphicon-trash"></span> DeleteAll</button>
        <div>
        <table class="table table-hover" id="datatable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Country</th>
                    <th>Birthyear</th>
                    <th>Province</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>

                <tr ng-repeat="beer in beers">
                    <td><a href="#!/beers/updateBeer/{{beer.country}}/{{beer.birthyear}}">{{beer.name}}</a></td>
                    <td>{{beer.country}}</td>
                    <td>{{beer.birthyear}}</td>
                    <td>{{beer.province}}</td>
                    <td>
                        <button class="btn btn-warning" ng-click="fillfields(beer.country,beer.birthyear)" data-toggle="modal" data-target="#updateModal"><span class="glyphicon glyphicon-pencil"></span> Update</button>
                        <button class="btn btn-danger" ng-click="deleteBeer(beer.country,beer.birthyear)"><span class="glyphicon glyphicon-trash"></span> Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
        <div id="paginate">
            <nav aria-label="Page navigation" ng-hide="pages.length <= 1">
                <ul class="pagination">
                    <li id="previousPage" ng-disabled="currentPage == 1" ng-click="setPage(currentPage - 1)">
                        <span class="page-link">Previous</span>
                    </li>
                    <li id="Page{{page}}" ng-class="{active: page == currentPage}" ng-repeat="page in pages" ng-click="setPage(page)">
                        <span>{{page}}</span>
                    </li>
                    <li id="nextPage" ng-disabled="currentPage == pages.length" ng-click="setPage(currentPage + 1)">
                        <span class="page-link">Next</span>
                    </li>
                </ul>
            </nav>
        </div>
        <div id="updateModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Update Beer</h4>
                    </div>
                    <div class="modal-body">
                        <p><label class="fieldsname">Name<input class="from-control" ng-model="Beer.name" /></label></p>
                        <p><label class="fieldsname">Country<input class="from-control" id="readonly" ng-model="Beer.country" readonly="true"/></label></p>
                        <p><label class="fieldsname">Birthyear<input class="from-control" id="readonly" ng-model="Beer.birthyear" readonly="true"/></label></p>
                        <p><label class="fieldsname">Province<input class="from-control" ng-model="Beer.province" /></label></p>
                        <p><button class="btn btn-warning" ng-click="updateBeer(Beer.country,Beer.birthyear)"><span class="	glyphicon glyphicon-pencil"></span> Update</button></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearResponseData()">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <div id="addModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Beer</h4>
                    </div>
                    <div class="modal-body">
                        <p><label class="fieldsname">Name<input class="from-control" ng-model="newBeer.name" /></label></p>
                        <p><label class="fieldsname">Country<input class="from-control" ng-model="newBeer.country" /></label></p>
                        <p><label class="fieldsname">Birthyear<input class="from-control" ng-model="newBeer.birthyear" /></label></p>
                        <p><label class="fieldsname">Province<input class="from-control" ng-model="newBeer.province" /></label></p>
                        <p><button class="btn btn-primary" ng-click="addBeer()"><span class="glyphicon glyphicon-floppy-save"></span> Add Beer</button></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearResponseData()">Close</button>
                    </div>
                </div>

            </div>
        </div>