<h2 id="titleBeer">Instagram Analysis</h2>


<div id="instagramgraph"><div id="pleaselogin">
    <p>Please Login to get Stats!</p>
    <button class="btn btn-primary" ng-click="login()">Login</button>
    
</div></div>

<table id="tableinstagram" class="table">
    <tr>
        <th>Photo</th>
        <th>Likes</th>
        <th>Self Like?</th>
        <th>Comments</th>
    </tr>
    <tr ng-repeat="photo in photototable">
        <td><img class="twitterthumb" height="50px" src="{{photo.image}}"></img>
        </td>
        <td>{{photo.likes}}</td>
        <td>{{photo.self_liked}}</td>
        <td>{{photo.comments}}</td>
    </tr>
</table>
