<div>
    <h2 id="title">Establishments</h2>
</div>
<ul id="menu">
    <li id="menuElement">
        <div id="apikey">
            <label for="apikey">Apikey</label> <input id="apikey" class="from-control" ng-model="Apikey" placeholder="nurtrioje"/>
            <button class="btn btn-primary" ng-click="setApikey()"><span class="glyphicon glyphicon-ok"/></span>Access</button>
        </div>
    </li>
    <li id="menuElement">
        <div id="search">
            <label for="from">From year</label> <input id="from" class="form-control" ng-model="fromYear" />
            <label for="to">To year</label> <input id="to" class="form-control" ng-model="toYear" />
            <button id="Search" class="btn btn-info disabled" ng-click="search(fromYear,toYear)"><span class="glyphicon glyphicon-search"></span> Search</button>
        </div>
    </li>

    <li id="menuElement">
        <div id="loadInitialData">
            <button id="Load" class="btn btn-success btn-lg disabled" ng-click="loadData()"><span class="glyphicon glyphicon-floppy-open"></span> Load data</button>
        </div>
    </li>
</ul>
<div id="table">
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Country</th>
                <th>Year</th>
                <th>Number</th>
                <th>Beds</th>
                <th>Nights</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input class="form-control" ng-model="newEstablishment.country" /></td>
                <td class="col-xs-1"><input class="form-control" ng-model="newEstablishment.year" /></td>
                <td class="col-xs-2"><input class="form-control" ng-model="newEstablishment.number" /></td>
                <td><input class="form-control" ng-model="newEstablishment.beds" /></td>
                <td><input class="form-control" ng-model="newEstablishment.nights" /></td>
                <td>
                    <button id="Add" class="btn btn-primary disabled" ng-click="addEstablishment()"><span class="glyphicon glyphicon-plus"></span> Add</button>
                    <button id="Delete" class="btn btn-danger disabled" ng-click="deleteAllEstablishments()"><span class="glyphicon glyphicon-trash"></span> Delete all</button>
                </td>
            </tr>
            <tr ng-repeat="establishment in establishments">
                <td><a href="#!/establishments/updateEstablishment/{{establishment.country}}/{{establishment.year}}">{{establishment.country}}</a></td>
                <td>{{establishment.year}}</td>
                <td>{{establishment.number}}</td>
                <td>{{establishment.beds}}</td>
                <td>{{establishment.nights}}</td>
                <td>
                    <button class="btn btn-warning" ng-click="fillFields(establishment.country, establishment.year)" data-toggle="modal" data-target="#updateModal"><span class="glyphicon glyphicon-pencil"></span> Update</button>
                    <button class="btn btn-danger" ng-click="deleteEstablishment(establishment.country, establishment.year)"><span class="glyphicon glyphicon-erase"></span> Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div id="paginate">
    <nav aria-label="Page navigation" ng-hide="pages.length <= 1">
        <ul class="pagination">
            <li id="previousPage" ng-disabled="currentPage == 1" ng-click="setPage(currentPage - 1)">
                <span class="page-link">Previous</span>
            </li>
            <li id="Page{{page}}" ng-class="{active: page == currentPage}" ng-repeat="page in pages" ng-click="setPage(page)">
                <span>{{page}}</span>
            </li>
            <li id="nextPage" ng-disabled="currentPage == pages.length" ng-click="setPage(currentPage + 1)">
                <span class="page-link">Next</span>
            </li>
        </ul>
    </nav>
</div>
<div id="updateModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" ng-click="clearResponseData()">&times;</button>
                <h4 class="modal-title">Update Establishments</h4>
            </div>
            <div class="modal-body">
                <pre>{{responseData}}</pre>
                <p><label class="fieldsname">Country<input class="from-control" ng-model="Establishment.country" /></label></p>
                <p><label class="fieldsname">Year<input class="from-control" ng-model="Establishment.year" /></label></p>
                <p><label class="fieldsname">Number<input class="from-control" ng-model="Establishment.number" /></label></p>
                <p><label class="fieldsname">Beds<input class="from-control" ng-model="Establishment.beds" /></label></p>
                <p><label class="fieldsname">Nights<input class="from-control" ng-model="Establishment.nights" /></label></p>
                <p><button class="btn btn-warning" ng-click="putEstablishment(Establishment.country,Establishment.year)"><span class="glyphicon glyphicon-pencil"></span> Update</button></p>
            </div>
        </div>
    </div>
</div>
        