<div>
    <h2>Establishments</h2>
</div>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Country</th>
            <th>Year</th>
            <th>Number</th>
            <th>Beds</th>
            <th>Nights</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{updatedEstablishment.country}}</td>
            <td class="col-xs-1">{{updatedEstablishment.year}}</td>
            <td class="col-xs-2"><input class="form-control" ng-model="updatedEstablishment.number" /></td>
            <td><input class="form-control" ng-model="updatedEstablishment.beds" /></td>
            <td><input class="form-control" ng-model="updatedEstablishment.nights" /></td>
            <td>
                <button class="btn btn-warning" ng-click="updateEstablishment()"><span class="glyphicon glyphicon-pencil"></span> Update</button>
            </td>
        </tr>
    </tbody>
</table>
