#titleBeer {
    background: rgba(73, 155, 234, 1);
    background: -moz-linear-gradient(top, rgba(73, 155, 234, 1) 0%, rgba(32, 124, 229, 1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(73, 155, 234, 1)), color-stop(100%, rgba(32, 124, 229, 1)));
    background: -webkit-linear-gradient(top, rgba(73, 155, 234, 1) 0%, rgba(32, 124, 229, 1) 100%);
    background: -o-linear-gradient(top, rgba(73, 155, 234, 1) 0%, rgba(32, 124, 229, 1) 100%);
    background: -ms-linear-gradient(top, rgba(73, 155, 234, 1) 0%, rgba(32, 124, 229, 1) 100%);
    background: linear-gradient(to bottom, rgba(73, 155, 234, 1) 0%, rgba(32, 124, 229, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#207ce5', GradientType=0);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#99cfff', endColorstr='#207ce5', GradientType=0);
    line-height: 2em;
    color: #f5f5f0;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 0;
    box-shadow: 0px 3px 4px grey;
}

.modal-body {
    text-align: center;
}

#buttonAddModal {
    position: absolute;
    right: 135px;
}

#buttonDeleteAll {
    position: absolute;
    right: 30px;
}

#buttonLoad {
    position: absolute;
    right: 210px;
}

table {
    margin-top: 20px;
}

#datatable {
    margin-top: 70px;
    text-align: center;
}

th {
    text-align: center;
}

#centeredtext {
    text-align: center;
}

.modal-body label {
    display: inline-block;
    width: 210px;
    text-align: left;
}

#table,
#apikey,
#search {
    margin: 20px;
}

#paginate {
    text-align: center;
}

#loadInitialData {
    margin-top: 50px;
    margin-left: 50px;
}

#title {
    background: rgb(16, 181, 181);
    background: -moz-linear-gradient(top, rgb(16, 181, 181) 0%, rgb(0, 139, 139) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(16, 181, 181)), color-stop(100%, rgb(0, 139, 139)));
    background: -webkit-linear-gradient(top, rgb(16, 181, 181) 0%, rgb(0, 139, 139) 100%);
    background: -o-linear-gradient(top, rgb(16, 181, 181) 0%, rgb(0, 139, 139) 100%);
    background: -ms-linear-gradient(top, rgb(16, 181, 181) 0%, rgb(0, 139, 139) 100%);
    background: linear-gradient(to bottom, rgb(16, 181, 181) 0%, rgb(0, 139, 139) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#10b5b5', endColorstr='#008b8b', GradientType=0);
    line-height: 2em;
    color: #f5f5f0;
    margin-bottom: 30px;
    text-align: center;
    margin-top: 0;
    box-shadow: 0px 3px 4px grey;
}

#menu {
    list-style-type: none;
}

#menuElement {
    float: left;
}

#pie {
    margin-top: 10px;
    margin-left: 30%;
    margin-right: 30%;
    text-align: center;
    box-shadow: 0 0 1em black;
    padding: 10px;
}

#BeersMapDiv {
    width: 900px;
    height: 600px;
    margin-top: 30px;
    margin-left: 26.5%;
    margin-right: 26.5%;
    margin-bottom: 50px;
    text-align: center;
    box-shadow: 0 0 1em black;
    padding: 10px;
}

#BeersTimeline {
    width: 100%;
    height: 400px;
    margin-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    box-shadow: 0 0 1em black;
    padding: 10px;
}
